body {
  font-family: "preconnect", sans-serif;
}

.container {
  max-width: 500px;
  margin: 1;
  text-align: auto;
  position: absolute;
  left: 500px;
  top: 100px;
}

#taskList {
  list-style-type: none;
  padding: 0;
  margin: 1;
}

.task {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-radius: 50px;
}

.task:last-child {
  border-bottom: none;
}

.checkbox {
  margin-right: 10px;
}

.delete-btn {
  margin-left: 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
}

.delete-btn:hover {
  background-color: #e91e63;
}

